
html {
    color: white;
    background-color: rgb(22, 5, 41);
    font-family: 'Courier New';
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
}

input[type=checkbox], label {
    cursor: hand;
    margin: 0px;
}

input[type=range] {
    width: 100%;
    margin: 0px;
}

canvas {
    display: block;
    position: absolute;
    top:  0;
    left: 0;
    width:  100%;
    height: 100%;
}

#canvas-div {
    position: relative;
}

#controls-div {
    vertical-align: top;
    background-color: rgb(58, 3, 80);
    overflow: auto;
}

#controls {
    padding: 1em;
}

.control-group {
    background: rgba(100, 0, 49, 0.8);
}

.control {
    padding: 0.4em;
}

@media (orientation: landscape) {
    #canvas-div {
        display: inline-block;
        width:   80%;
        height: 100%;
    }
    #controls-div {
        display: inline-block;
        width:   20%;
        height: 100%;
    }
    .control-group {
        margin-top: 1em;
        overflow: hidden;
    }
    .texture-img {
        width: 85%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (orientation: portrait) {
    #canvas-div {
        width:  100%;
        height:  80%;
    }
    #controls-div {
        width:  100%;
        height:  20%;
    }
    #controls {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .control-group {
        display: inline-block;
        /*vertical-align: top;
        margin-left: 2em;*/
        margin-bottom: 1em;
        width: 40%;
    }
    .texture-img {
        /*width: auto;*/
        width: 100%;
        height: calc( 100% - 2em );
        position: relative;
        top: 1em;
    }
    .all-objects {
        width: 61%;
    }
}
